name: Build and Push Docker Image

on:
  push:
    branches:
      - main  

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'  

      - name: Run unit tests
        run: npm test  

  build:
    runs-on: ubuntu-latest
    needs: test  

    if: success()  # Solo se ejecuta si el job 'test' fue exitoso

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          region: eu-west-2  

      - name: Build Docker image
        run: |
          docker build -t my-app ./my_images/node_app
          docker tag my-app:node_v1 248189943700.dkr.ecr.eu-west-2.amazonaws.com/my-app:node_v1

      - name: Push Docker image to ECR
        run: |
          docker push 248189943700.dkr.ecr.eu-west-2.amazonaws.com/my-app:node_v1






























name: Build and Push Docker Image

on:
  push:
    branches:
      - main  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1
        with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            region: eu-west-2  

      - name: Build Docker image
        run: |
          docker build -t my-app .
          docker tag my-app:latest 248189943700.dkr.ecr.<region>.amazonaws.com/my-app:latest

      - name: Push Docker image to ECR
        run: |
          docker push 248189943700.dkr.ecr.eu-west-2.amazonaws.com/my-app:latest
